:root {
  --black: hsl(0%, 0%, 0%);
  --white: hsl(0%, 0%, 100%);
  --green1: hsl(76, 68%, 60%);
  --green2: hsl(49, 100%, 48%);
  --tint1: hsl(276, 67%, 76%);
  --tint2: hsl(201, 86%, 74%);
  --border-color: #303030;
}
