body {
  --body-bg: url('@/assets/bg.jpg');
  background: var(--body-bg);
  background-size: cover;
}

#app {
  min-height: 100vh;
  position: relative;
}

.border {

}

.border--sketchy {
  --border-color: #303030;
  border: 1px solid var(--border-color);
}
/**
 * Copy
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: none;
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: none;
  font-family: inherit;
}
