.btn{
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn--large {
  padding: .25em 1.75em;
}

.btn--outlined {
  background: transparent;
  border: 1px solid var(--border-color);
}

.btn--disabled {
  --color: var(--color--disabled);
}
