.login__form {
   width: fit-content;
   text-align: center;
}

.login__submit {
  text-align: center;
  justify-content: center;
}
.login__button {
  width: 20%;
  display: inline-block;
}

.login__tooltip {
  top: -30px;
  width: 100%;
}
